[SddmGreeterTheme]
Name=XeroDark
Description=XeroDark sddm theme
Author=DarkXero
Copyright=(c) 2021, DarkXero
License=GPL 3+
Type=sddm-theme
Version=0.1
Website=https://xerolinux.online
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=info@techxero.com
Theme-Id=XeroDark
Theme-API=2.0
